*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 820px;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header div {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

main {
  width: 100vw;
}

h2 {
  font-size: 16px;
  color: rgb(115, 115, 115);
}

h3 {
  font-size: 14px;
  color: rgb(115, 115, 115);
}

.desc {
  font-size: 12px;
  color: rgb(119, 119, 119);
}

.wide {
  width: 800px;
  margin: 1rem auto;
}

.wide-pic {
  margin: auto;
  width: 790px;
}

.wide-desc {
  width: 790px;
  display: flex;
  justify-content: space-between;
}

.three-pics {
  width: 800px;
  display: grid;
  margin: 1rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.small-pic {
  width: 250px;
}

.narrow-desc {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 790px;
  display: grid;
  grid-template-columns: 300px 150px 250px 150px;
  margin: 3rem auto;
  font-size: 12px;
  color: rgb(115, 115, 115);
}

footer p {
  margin: 4rem 0;
}

@media screen and (max-width: 768px) {
  header {
    width: 400px;
  }

  nav {
    display: none;
  }

  #meny {
    background: #333333cc;
    width: 20rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(20rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
  }

  #mobile-nav {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  #mobile-nav a {
    color: white;
  }

  #menyAvPaa {
    display: none;
  }

  #menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
  }

  #menyAvPaa:checked ~ #burger > div {
    background-color: #fff;
  }

  #menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  .wide {
    width: 350px;
  }

  .wide-pic,
  .wide-desc {
    width: 350px;
  }

  .three-pics {
    width: 400px;
    grid-template-columns: 1fr;
  }

  .small-pic {
    width: 300px;
  }

  .narrow-desc {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .narrow-desc > div {
    width: 150px;
  }

  .narrow-desc > h3 {
    width: 150px;
    text-align: right;
  }

  .three-pics div {
    margin: auto;
  }

  footer {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  footer p {
    margin: 1rem auto;
  }
}
